/* font */

@font-face {
    font-family: 'ExpoArabicMedium';
    src: url('../font/Expo Arabic Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ####### */

* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'ExpoArabicMedium', sans-serif;
}


body {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}

/* wheel-container */

.wheel-container {
    width: 500px;
    aspect-ratio: 1/1;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px #0000001c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wheel-container .nail {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 40px;
    background-color: rgb(0, 17, 255);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 3;

}

.wheel-container .wheel {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: conic-gradient(#429FAF 0% 16.67%,
            /* أزرق سماوي */
            #A1D4E6 16.67% 33.33%,
            /* أزرق فاتح */
            #4CAF50 33.33% 50%,
            /* أخضر زاهي */
            #FFC107 50% 66.67%,
            /* أصفر مشرق */
            #FF5722 66.67% 83.33%,
            /* برتقالي دافئ */
            #9C27B0 83.33% 100%
            /* بنفسجي فاتح */
        );
    display: flex;
}

.wheel-container .spin-btn {
    background-color: #fff;
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px #0000001c;
    color: #429FAF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute;
    top: calc((100% - 35%) / 2);
    left: calc((100% - 35%) / 2);
}

.wheel-container .spin-btn span {
    display: block;
}

.wheel-container .spin-btn .spin-action {
    color: #FFC107;
    font-size: 18px;
}

.wheel-container .spin-btn .spin-reward {
    color: #429FAF;
    font-size: 14px;
    font-style: italic;
}

.wheel-container .spin-btn:hover {
    background-color: #f6f6f6;
    transform: scale(1.05);
}

.wheel-container .spin-btn:active {
    transform: scale(0.95);
}

.wheel-container .wheel .offers {
    position: relative;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
    rotate: 30deg;
}

/* تحديد مواضع العروض داخل السدسات */
.wheel-container .wheel .offers .offer {
    position: absolute;
    border: solid;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    text-align: center;

}

/* توزيع العروض على أطراف العجلة */
.wheel-container .wheel .offers .offer-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.wheel-container .wheel .offers .offer-2 {
    top: 24%;
    right: 6%;
}

.wheel-container .wheel .offers .offer-3 {
    top: 74.5%;
    right: 6%;
}

.wheel-container .wheel .offers .offer-4 {
    bottom: 0%;
    left: 50%;
}

.wheel-container .wheel .offers .offer-5 {
    top: 74.5%;
    left: 6%;
}

.wheel-container .wheel .offers .offer-6 {
    top: 24%;
    left: 6%;
}

/* ############## */

.wheel-container .wheel .offers .offer .child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
}

.wheel-container .wheel .offers .offer .child img {
    width: 90%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel-container .wheel .offers .offer .child p {
    color: #fff;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 0px 10px #000000a2;
    text-align: center;
}

/* ######## */

.welcome {
    color: #429FAF;
    font-weight: bold;
    font-size: 24px;
    animation: changeColor 1s infinite alternate;
    text-align: center;
}

/* تعريف الأنميشن */
@keyframes changeColor {
    0% {
        color: #429FAF;
        /* اللون الأزرق السماوي */
    }

    50% {
        color: #FF5722;
        /* اللون البرتقالي */
    }

    100% {
        color: #4CAF50;
        /* اللون الأصفر */
    }
}

@media (min-width:0px) and (max-width:600px) {
    .wheel-container {
        width: 320px;
    }

    .wheel-container .spin-btn {
        width: 25%;
        top: calc((100% - 25%) / 2);
        left: calc((100% - 25%) / 2);
    }

    .wheel-container .spin-btn .spin-action {
        color: #FFC107;
        font-size: 14px;
    }

    .wheel-container .spin-btn .spin-reward {
        color: #429FAF;
        font-size: 12px;
        font-style: italic;
    }

    .wheel-container .wheel .offers .offer .child p {
        font-size: 10px;
    }

        .wheel-container .wheel .offers .offer .child{
            width: 45px;
            height: 45px;
        }
}